@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
html, body 
    {height: 100%;}

body 
    {color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.832); }

header
    {margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
h1 
    {
    width: 150px;
    margin-right: 200px;
    color: white;
    font: 900 2vw 'Roboto', sans-serif;}



nav a 
    {font-size: 1vw;
    padding: 15px;
    text-decoration: none;
    color: white;
    font: 100 1vw 'Roboto', sans-serif;}

a:hover 
    {color: rgb(132, 13, 201);
    transition: 0.3s all;}
#inscreva-se 
    {
    border: 2px solid rgb(132, 13, 201);
    border-radius: 15px;
    padding: 10px;
    }
#inscreva-se:hover 
    {background-color: rgb(132, 13, 201);
    color: white;}  

/* inicio do main */

main 
    {margin-top: 10vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    }

#texto 
    {max-width: 500px;
    font-size: 1.5vw;} 

h2 
    {margin-bottom: 1px;}

#ptexto
    {font-size: 0.6vw;
    line-height: 20px;}  
img 
    {width: 620px;}

#roxo 
    {color:rgb(132, 13, 201) ;}

form 
    {display: flex;
    flex-direction: column;
    width: 70%;}
#enviar
     {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 13, 201);
    color: white;
    font-weight: bold;} 
    
#enviar:hover 
    {cursor: pointer;}  

input 
    {margin-top: 15px;
    height: 20px;
    padding: 13px;
    border-radius: 15px;
    border: none;} 
    
 



footer 
    {flex-shrink: 0px;
    font: 100 1.2vw 'Roboto', sans-serif;
    text-align: center;}