@charset "UTF-8";
html, body 
    {height: 100vh;
    padding: 0px;
    margin: 0px;}

body 
    {color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.832); }

nav 
    {margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}
h1 
    {font-size: 2em;
    width: 150px;
    margin-right: 200px;
    color: white;}

#links
    {}

section a 
    {font-size: 1em;
    padding: 15px;
    text-decoration: none;
    color: white;}

main 
    {margin-top: 55px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px}

#texto 
    {width: 400px;
    font-size: 2em;} 

h2 
    {margin-bottom: 1px;}

#ptexto
    {font-size: 15px;}   

#imagem 
    {}


footer 
    {flex-shrink: 0px;
    font-size: 1em;
    text-align: center;}